*{margin: 0; padding: 0;}

.xuong {
    width: 40px;
    height: 77px;
    border: white solid 1px;
    position: absolute;
    left: 50%;
    border-radius: 30px;
    bottom: 2%;
    margin-left: -20px;
    z-index: 2;
    cursor: pointer;
    transition: 0.4s;
}

.xuong:hover {
    bottom: 4%;
}

.xuong:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 8px;
    background: white;
    left: 50%;
    bottom: 70%;
    margin-left: -2px;
}

.khoittnho {
    margin-bottom: 55px;
}

.khoittnho p {
    font-size: 13px;
    line-height: 21px;
    color: #636363;
}

span.motaqt {
    font-size: 13px;
    margin-bottom: 26px;
    display: block;
}

.khoittnho h3.tieudecap3 {
    font-size: 16px;
    color: #e35855;
    margin-bottom: 20px;
}

span.dam {
    font-weight: bold;
    font-family: segoe ui;
}

h2.tieudecap2 {
    font-weight: normal;
    font-family: segoe ui light;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 40px;
}

.tieudeto {
    margin-top: 120px;
    margin-bottom: 60px;
}

.tieudeto h1 {
    display: inline;
    background: url('../images/ke.png') no-repeat left bottom;
    padding-bottom: 27px;
    text-transform: uppercase;
    font-size: 30px;
    background-position: -23px 30px;
}

a.nuthire {
    width: 180px;
    background: black;
    border: none;
    border-radius: 0;
}

.tt p {
    color: #373a3c;
    font-size: 16px;
    line-height: 24px;
    width: 46%;
    margin: auto;
    margin-bottom: 34px;
}

.tt h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 22px;
}

.tt img {
    border-radius: 50%;
    margin-bottom: 50px;
    height: 105px;
    width: 105px;
}

.tt {
    z-index: 2;
    position: relative;
    padding-top: 24%;
}

.khoitt1 {
    height: 100%;
    width: 100%;
    background: #e9585f;
    position: relative;
}

.khoitt1:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #e4555b;
}

body,html {
    width: 100%;
    height: 100%;
}

li.nav-item {
    margin: 0 17px;
}

li.nav-item:first-child {
    margin-left: 0;
}

li.nav-item:last-child {
    margin-right: 0;
}

.navbar-light .navbar-nav .nav-link {
    font-family: segoe ui;
    text-transform: uppercase;
    font-size: 14px;
    color: #101010;
}

nav.navbar.navbar-expand-sm.navbar-light {
    margin: 0;
    padding: 0;
    height: 100px;
}

nav.navbar.navbar-expand-sm.navbar-light.fixed-top {
    background: white;
} 
@media (max-width: 576px){
	*{}

h2.tieudecap2.text-center.text-sm-left {
    margin-top: 25px;
}

.tt img {
    margin-top: 120px;
    width: 200px;
    height: 200px;
}

li.nav-item {
    margin: 0 15px;
}

ul.navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
}

ul.navbar-nav {
    border-top: 1px solid #ff000042;
    margin-top: 3px;
}

a.navbar-brand {
    margin-right: 0;
}

nav.navbar.navbar-expand-sm.navbar-light.fixed-top {
    /* position: static; */
    height: auto;
}

.container.justify-content-between {
    flex-direction: column;
}
}