body{
	font-family: "segoe ui";
}
h1{
	text-align: center;
}
img{
	width: 3%;
	width: 10%;
	width: 20%;
	width: 100%;
	width: 200%;
	width: 2000%;
 }
p {
	height: 10px;
	height: 20px;
}
div{
	width: 50px;
}
a{
	color: red;
}